body {
  font-family: 'Open Sans', sans-serif;

  text-align: center; 
}

#main {
  width: 626px; 
  margin: 0 auto 64px;
}

#main img {
  width: 350px;
  margin-bottom: 64px;
  margin-top: 64px;
}

h1 {
  font-family: 'Dosis';
  font-weight: normal;
  
  font-size: 32px;
  line-height: 40px;

  margin-bottom: auto;

  color: #3F3D56;
}

span, a {
  color: #3F3D56;
  font-weight: bold;
}

p, #footer {
  color: #828282;

  font-size: 15px;
  line-height: 22px;
}

#footer a + a {
  margin-left: 42px ;
}

#line { 
  width: 391px;
  height: 0px;

  margin: 0 auto 42px;

  border: 1px solid #ECEFF2;
}

#wave {
  position: absolute;
  width: 1920px;
  height: 104px;
  left: 0;
  bottom: 0px;
  

}
